In [100]:
import numpy as np

In [101]:
import pandas as pd

In [102]:
df=pd.read_csv(r"A:\Work Docs\Data Analyst work\Campus X\00 Datasets For coding\iris.csv")

In [103]:
df.head()

   Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
0   1            5.1           3.5            1.4           0.2  Iris-setosa
1   2            4.9           3.0            1.4           0.2  Iris-setosa
2   3            4.7           3.2            1.3           0.2  Iris-setosa
3   4            4.6           3.1            1.5           0.2  Iris-setosa
4   5            5.0           3.6            1.4           0.2  Iris-setosa

In [104]:
#removing ID column
df=df.iloc[:,1:]

In [105]:
df.head()

   SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
0            5.1           3.5            1.4           0.2  Iris-setosa
1            4.9           3.0            1.4           0.2  Iris-setosa
2            4.7           3.2            1.3           0.2  Iris-setosa
3            4.6           3.1            1.5           0.2  Iris-setosa
4            5.0           3.6            1.4           0.2  Iris-setosa

In [106]:
from sklearn.preprocessing import LabelEncoder

In [107]:
encode=LabelEncoder()

In [108]:
df.iloc[:,-1]

0         Iris-setosa
1         Iris-setosa
2         Iris-setosa
3         Iris-setosa
4         Iris-setosa
            ...
145    Iris-virginica
146    Iris-virginica
147    Iris-virginica
148    Iris-virginica
149    Iris-virginica
Name: Species, Length: 150, dtype: object

In [109]:
df['Species'] = encode.fit_transform(df['Species'])

In [110]:
df.sample(5)

     SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm  Species
83             6.0           2.7            5.1           1.6        1
119            6.0           2.2            5.0           1.5        2
41             4.5           2.3            1.3           0.3        0
17             5.1           3.5            1.4           0.3        0
36             5.5           3.5            1.3           0.2        0

In [111]:
import seaborn as sns

In [112]:
#sns.pairplot(df, hue='Species')

In [113]:
new_df = df[df['Species'] != 0][['SepalLengthCm', 'SepalWidthCm', 'Species']]

In [114]:
new_df.sample(5)

     SepalLengthCm  SepalWidthCm  Species
84             5.4           3.0        1
131            7.9           3.8        2
128            6.4           2.8        2
88             5.6           3.0        1
105            7.6           3.0        2

In [115]:
new_df.shape

(100, 3)

In [116]:
x= new_df.iloc[:,0:2]
y= new_df.iloc[:,-1]

In [117]:
from sklearn.linear_model import LogisticRegression
from sklearn.neighbors import KNeighborsClassifier
from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import cross_val_score

In [118]:
clf1 = LogisticRegression()
clf2 = RandomForestClassifier()
clf3 = KNeighborsClassifier()

In [119]:
estimators = [ ("lr", clf1), ("rf", clf2), ("knn", clf3)]

In [120]:

for estimator in estimators:
    s = cross_val_score( estimator[1], x, y, cv=10, scoring= "accuracy")
    print(estimator[0], np.round(np.mean(s),2))

lr 0.75

rf 0.62
knn 0.62

Voting

In [121]:
from sklearn.ensemble import VotingClassifier

In [122]:
vc = VotingClassifier( estimators= estimators)
s= cross_val_score(vc, x, y, cv=10, scoring= 'accuracy')
print(np.round(np.mean(s),2))

0.67

In [123]:
vc = VotingClassifier( estimators= estimators, voting='soft')
s= cross_val_score(vc, x, y, cv=10, scoring= 'accuracy')
print(np.round(np.mean(s),2))

0.65

In [124]:
# assigning weight to different models
for i in range(1,4):
    for  j in range(1,4):
        for k in range(1,4):
            vc = VotingClassifier( estimators=estimators, voting='soft', weights=[i, j, k])
            s = cross_val_score(vc, x, y, cv=10, scoring='accuracy')     
            print(f'for i={i}, j={j}, k={k}', np.round(np.mean(s),2))

for i=1, j=1, k=1 0.64
for i=1, j=1, k=2 0.65
for i=1, j=1, k=3 0.66
for i=1, j=2, k=1 0.62
for i=1, j=2, k=2 0.64
for i=1, j=2, k=3 0.63
for i=1, j=3, k=1 0.6
for i=1, j=3, k=2 0.64
for i=1, j=3, k=3 0.62
for i=2, j=1, k=1 0.68
for i=2, j=1, k=2 0.65
for i=2, j=1, k=3 0.67
for i=2, j=2, k=1 0.64
for i=2, j=2, k=2 0.65
for i=2, j=2, k=3 0.65
for i=2, j=3, k=1 0.61
for i=2, j=3, k=2 0.65
for i=2, j=3, k=3 0.63
for i=3, j=1, k=1 0.71
for i=3, j=1, k=2 0.68
for i=3, j=1, k=3 0.68
for i=3, j=2, k=1 0.69
for i=3, j=2, k=2 0.66
for i=3, j=2, k=3 0.64
for i=3, j=3, k=1 0.63
for i=3, j=3, k=2 0.65
for i=3, j=3, k=3 0.65

Classifier of Same Algorithm

In [126]:
from sklearn.svm import SVC

In [127]:
from sklearn.datasets import make_classification

X, y = make_classification(n_samples=1000, n_features=20, n_informative=15, n_redundant=5, random_state=2)

svm1 = SVC(probability=True, kernel='poly', degree=1)
svm2 = SVC(probability=True, kernel='poly', degree=2)
svm3 = SVC(probability=True, kernel='poly', degree=3)
svm4 = SVC(probability=True, kernel='poly', degree=4)
svm5 = SVC(probability=True, kernel='poly', degree=5)

estimators = [('svm1',svm1),('svm2',svm2),('svm3',svm3),('svm4',svm4),('svm5',svm5)]

for estimator in estimators:
    s = cross_val_score(estimator[1],X,y,cv=10,scoring='accuracy')
    print(estimator[0],np.round(np.mean(s),2))

svm1 0.85
svm2 0.85
svm3 0.89
svm4 0.81
svm5 0.86

In [129]:
vc1= VotingClassifier(estimators= estimators, voting='soft')
s = cross_val_score(vc1,X,y,cv=10,scoring='accuracy')
print(estimator[0],np.round(np.mean(s),2))

svm5 0.93