In [74]:
import numpy as np
import pandas as pd 

from sklearn.model_selection import train_test_split

from sklearn.impute import KNNImputer,SimpleImputer
from sklearn.linear_model import LogisticRegression

from sklearn.metrics import accuracy_score

In [75]:
df=pd.read_csv(r"A:\Work Docs\DATA Set\titanic_train.csv", usecols=['Age','Pclass', 'Fare', 'Survived'])
df.head(5)

   Survived  Pclass   Age     Fare
0         0       3  22.0   7.2500
1         1       1  38.0  71.2833
2         1       3  26.0   7.9250
3         1       1  35.0  53.1000
4         0       3  35.0   8.0500

In [76]:
df.isnull().mean()*100

Survived     0.00000
Pclass       0.00000
Age         19.86532
Fare         0.00000
dtype: float64

In [77]:
x=df.drop(columns=['Survived'])
y=df['Survived']

In [78]:
x_train, x_test, y_train, y_test=train_test_split(x,y,test_size=0.2,random_state=2)

In [79]:
x_train.sample(5)

     Pclass   Age      Fare
2         3  26.0    7.9250
757       2  18.0   11.5000
517       3   NaN   24.1500
306       1   NaN  110.8833
585       1  18.0   79.6500

In [80]:
knn=KNNImputer(n_neighbors=4,weights='distance')

x_train_tfr=knn.fit_transform(x_train)
x_test_trf=knn.transform(x_test)

x_train_tfr

array([[  1.        ,  40.        ,  27.7208    ],
       [  3.        ,   4.        ,  16.7       ],
       [  3.        ,  47.        ,   9.        ],
       ...,
       [  1.        ,  71.        ,  49.5042    ],
       [  1.        ,  31.77665827, 221.7792    ],
       [  1.        ,  49.4290547 ,  25.925     ]])

In [81]:
pd.DataFrame(x_train_tfr,columns=x_train.columns)

     Pclass        Age      Fare
0       1.0  40.000000   27.7208
1       3.0   4.000000   16.7000
2       3.0  47.000000    9.0000
3       3.0   9.000000   31.3875
4       3.0  20.000000    9.8458
..      ...        ...       ...
707     3.0  30.000000    8.6625
708     3.0  26.968023    8.7125
709     1.0  71.000000   49.5042
710     1.0  31.776658  221.7792
711     1.0  49.429055   25.9250

[712 rows x 3 columns]

In [82]:
lr=LogisticRegression()

lr.fit(x_train_tfr,y_train)

y_pred=lr.predict(x_test_trf)

accuracy_score(y_test,y_pred)*100

70.94972067039106

In [83]:
# Comparision with Simple imputer--->mean

si=SimpleImputer()

x_train_tfr2=si.fit_transform(x_train)

x_test_trf2=si.transform(x_test)

In [84]:
lr=LogisticRegression()

lr.fit(x_train_tfr2,y_train)

y_pred2=lr.predict(x_test_trf2)

accuracy_score(y_test,y_pred)*100

70.94972067039106